$body-background: #281742;
$body-font-color: #E3DAF7;
$nav-background: #281742;
$nav-font-family: Arial, Georgia, serif;
$body-font-family: Arial, Georgia, serif;

nav {
	background-color: $nav-background;
	font-family: $nav-font-family;
}

body {
	color: $body-font-color;
	background-color: $body-background;
	font-family: $body-font-family;
}

