<!DOCTYPE html>
{% load static %}

<html>
<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'Blog/site.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'Blog/materialize.css' %}" />
	{% block title %}
	<title>bleh</title>
	{% endblock title %}
</head>
<body>
	<div class="container">
		<nav>
            <div class="nav-wrapper purple lighten-2">
				<div class="logo-wrapper">
					<div class="brand-logo">Ben Bloggin'</div>
				</div>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href={% url 'home:index' %}>Home</a></li>
					{% if user.is_authenticated %}
					<li><a href={% url 'dashboard:index' %}>Dash</a></li>
					<li><a href={% url 'posts:index' username=user.username %}>Posts</a></li>
					<li><a href={% url 'posts:archive' username=user.username %}>Archive</a></li>
					<li><a href={% url 'logout' %}>Logout</a></li>
					{% else %}
					<li><a href={% url 'login' %}>Login </a></li>
					<li><a href={% url 'signup:index' %}>Signup</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</div>

	<div class="container">
	{% block content %}
	{% endblock content %}
	</div>

	<script src="{% static 'Blog/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'Blog/ajax.js' %}"></script>
	<script src="{% static 'Blog/site.js' %}"></script>
	<script type="{% static 'statictext/javascript' %}" src="{% static 'Blog/materialize.js' %}"></script>
</body>
</html>
