<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css" />
{% block title %}
<title>bleh</title>
{% endblock title %}
</head>
<body>
	<div class="container">
		<nav>
			<a href={% url 'home:index' %}>Home</a>
			{% if user.is_authenticated %}
			<a href={% url 'dashboard:index' %}>Dash</a>
			<a href={% url 'posts:index' username=user.username %}>Posts</a>
			<a href={% url 'posts:archive' username=user.username %}>Archive</a>
			<a href={% url 'logout' %}>Logout</a>
			{% else %}
			<a href={% url 'login' %}>Login </a>
			<a href={% url 'signup:index' %}>Signup</a>
			{% endif %}
		</nav>	
	</div>

	<div class="container">
	{% block content %}
	{% endblock content %}
	</div>

</body>
</html>
